#chat
    .box
        width: 500px
        height: 350px
        border: 2px solid #000000
        border-radius: 20px
        background-color: #9c6644
        .message
            height: 250px
            border: 1px solid #000000
            border-radius: 20px
            background-color: #ffffff
            margin: 20px
            h3
                margin: 10px
                background-color: #5f8094
                color: #ffffff
                border: 1px solid #5f8094
                border-radius: 20px
                padding: 10px 8px
                width: 60px
        .text
            display: flex
            justify-content: center
            align-items: center
            input
                margin-right: 10px
            h3
                border: 1px solid #5f8094
                border-radius: 16px
                padding: 8px 12px
                background-color: #5f8094
                color: #ffffff
